- @businesses.each do |business|
  %br
  .row
    .col-md-8
      .row
        .col-md-6
          %p.text-left 
            %span.glyphicon.glyphicon-star(aria-hidden="true")
            %span.glyphicon.glyphicon-star(aria-hidden="true")
            %span.glyphicon.glyphicon-star(aria-hidden="true")
            %span.glyphicon.glyphicon-star-empty(aria-hidden="true")
            %span.glyphicon.glyphicon-star-empty(aria-hidden="true")
          %p.text-left= "Review from User x  wrote for #{business.name}"
        .col-md-6
          %p.text-right.small= ctime_ago_in_words(business.created_at)
          %br
          %br
      %p.text-justify= business.description
    .col-md-4
  %br
  %br