%h2 Register

%form
  %br
  %fieldset.form-group
    %label Name
    .row
      .col-sm-4
        %input.form-control(type="Name")
  %fieldset.form-group
    %label Email
    .row
      .col-sm-4
        %input.form-control(type="Email")
  %fieldset.form-group
    %label Password
    .row
      .col-sm-4
        %input.form-control(type="Password")   
  %fieldset.form-group.action
    %input(type="submit" value="Register" class="btn btn-default")


