%h2 Business Name
%br
%br

%br
.row
  .col-md-8
    .row
      .col-md-6
        %p.text-left 
          %span.glyphicon.glyphicon-star(aria-hidden="true")
          %span.glyphicon.glyphicon-star(aria-hidden="true")
          %span.glyphicon.glyphicon-star(aria-hidden="true")
          %span.glyphicon.glyphicon-star-empty(aria-hidden="true")
          %span.glyphicon.glyphicon-star-empty(aria-hidden="true")
        %p.text-left Name / Website
      .col-md-6
        %br
        %br
        %br
    %p.text-justify DESCRIPTION, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
  .col-md-4
%br
%br

.row
  .col-md-8
    %form
      %fieldset.form-group
        %textarea.form-control(placeholder="Description")
    .row
      .col-md-6
        %fieldset.form-group
          %select.form-control
            %option 1
            %option 2
      .col-md-6
        %fieldset.form-group.action
          %input(type="submit" value="Submit review" class="btn btn-default btn-block")
  .col-md-4

%br
%br

.row
  .col-md-8
    .col-md-4 
    .col-md-8
      .row
        .col-md-6
          %p.text-left 
            %span.glyphicon.glyphicon-star(aria-hidden="true")
            %span.glyphicon.glyphicon-star(aria-hidden="true")
            %span.glyphicon.glyphicon-star(aria-hidden="true")
            %span.glyphicon.glyphicon-star-empty(aria-hidden="true")
            %span.glyphicon.glyphicon-star-empty(aria-hidden="true")
          %p.text-left Review from User x  wrote for Business y
        .col-md-6
          %p.text-right Time ago in words
          %br
          %br
      %p.text-justify Review, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis.
  .col-md-4