%h2 Login

%form
  %br
  %fieldset.form-group
    %label Email
    .row
      .col-sm-4
        %input.form-control(type="Email")
  %fieldset.form-group
    %label Password
    .row
      .col-sm-4
        %input.form-control(type="Password")  
  %fieldset.form-group.action
    %input(type="submit" value="Login" class="btn btn-default")


